$dark-main-color: #4C3327;
$light-main-color: #F2EFE4;
$letters-color: #CB8C1D;
$button-hovered-color: rgba(203, 140, 29, .2);

/*$dark-main-color: #3E1229;
$light-main-color: white;
$letters-color: firebrick;*/
