$dark-main-color: #efefef;
$dark-letters-color: #2f2f2f;
$light-letters-color: #898989;
$letters-color: #cf5353;
$button-hovered-color: rgba(47, 47, 47, .2);
$button-hovered-color: rgba(207, 83, 83, .2);

/*$dark-main-color1: #7a4e2f;
$light-main-color1: #F2EFE4;
$letters-color1: #CB8C1D;
$button-hovered-color1: rgba(203, 140, 29, .2);*/
//:classes="['modal']"
